.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text_light);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem 1rem 1.5rem;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}

.icons{
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    grid-gap: 1rem;
}

.icons a:nth-child(3){
    font-weight: bold;
    font-size: x-large;
}

.icons a:nth-child(4){
    display: flex;
}

.icons a{
    color: var(--text_light);
    transition: transform .3s;
}

.icons a:hover,
.icons a:hover svg{
    transform: scale(1.05);
}