footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg_footer);
    padding: 2rem 1.5rem 3rem;
    row-gap: 1rem;
}

footer a{
    color: var(--text_light);
}

footer p{
    color: var(--text_light);
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.icons{
    display: flex;
    align-items: center;
    min-height: 35px;
    grid-gap: 1rem;
    grid-column: 1;
}

.icons a{
    color: var(--text_light);
}

.icons a img{
    display: flex;
    width: 30px;
    transition: filter .2s;
}

.icons a img:hover{
    filter: contrast(0.6);
}

.mkstar{
    display: flex;
    width: 2rem;
    transition: transform .7s ease-in-out;
    cursor: pointer;
}

.mkstar:hover{
    transform: rotate(-20deg);
}

.us{
    grid-column: 2;
    line-height: 1.5rem;
}

.donate_icon{
    display: flex;
    grid-column: 3;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}

@media (min-width: 768px) {
    footer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: space-between;
        padding: 1.5rem 4rem 2rem;
    }

    .donate_icon{
        margin-left: auto;
    }
}