@font-face {
    font-family: 'Kanit';
    src: url('/fonts/kanit-regular.otf');
}

:root{
    --white: #fff;
    --dark: #000000;
    --bg_schedule_light: #fff;
    --bg_schedule_dark: #000000;
    --bg_white_opacity_1: #ffffffed;
    --bg_dark_opacity_1: rgba(0,0,0,0.2);
    --bg_footer: rgba(0,0,0,0.75);;
    --text_light: #fff;
    --text_dark: #000000;
    --bg_violet_mk: #3A1DB3;
    --button_violet: #623bff;
    --font-custom: 'Kanit', sans-serif;
    --font-default: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-custom);
}

html{
    scroll-behavior: smooth;
    background-color: var(--bg_violet_mk);
    transition: background-color .5s;
    overflow-x: hidden;
}

html,
body{
    height: 100%;
}

main{
    flex: 1;
    margin-top: 70px;
    background: transparent url("/img/starsbg.png");
    background-size: 25rem;
    background-position: center center;
}

a{
    text-decoration: none;
}

#__next{
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 2160px;
    margin: 0 auto;
}

.singleCol{
    display: grid;
    align-content: center;
    width: fit-content;
    margin: auto;
    color: var(--text_light);
}

.h100{
    height: 100%;
}

/* ===== Scrollbar CSS ===== */

/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--white) var(--bg_violet_mk);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    position: absolute;
    right: -3rem;
    backdrop-filter: blur(5px);
}

*::-webkit-scrollbar-thumb {
    background-color: #ffffffb3;
    border-radius: 10px;
    border: 4px solid var(--bg_violet_mk);
}

*::-webkit-scrollbar-thumb:hover{
    background-color: var(--white);
}

/* ===== End Scrollbar CSS ===== */

/* Buttons */

.btndefault{
    cursor: pointer;
    border-style: none;
    outline: none;
    border: none;
    background-color: transparent;
}

.button1{
    background-color: var(--button_violet);
    padding: 0.6rem 1rem;
    color: var(--text_light);
    border-radius: 0.5rem;
    width: fit-content;
}

.problemsBtn{
    display: flex;
    column-gap: 0.3rem;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    order: 2;
    min-width: 7.6rem;
}

.problemsBtn img{
    display: grid;
    place-self: center;
    width: 22px;
    height: 22px;
    margin: auto 0 auto auto;
}

.problemsBtn:hover{
    background-color: #4e20ff;
}

/* End Buttons */

/* Home User-Player Options */

.streamControls{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    grid-gap: 1rem;
}

.streamControls div{
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    width: 90%;
}

.streamControls div p{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.6rem;
}

.streamControls div p:nth-of-type(1){
    background-color: #623bff;
}

.streamControls div p:nth-of-type(2){
    background-color: #4e20ff;
}

.msgBox{
    background-color: var(--bg_white_opacity_1);
    padding: 1rem;
    width: 90%;
    border-radius: 2rem;
    height: fit-content;
    margin: 0 auto 1rem auto;
    text-align: left;
    border: 1px solid var(--bg_dark_opacity_1);
    color: rgb(26, 26, 26);
    list-style-type: none;
    font-weight: bold;
}

.msgBox h1{
    padding-left: 1rem;
    text-transform: uppercase;
}

.msgBox li{
    padding: 1rem;
}

.msgBox li h2{
    margin-bottom: 0.5rem;
}

.msgBox li h2:last-child{
    margin-bottom: 0;
}

.msgBox-enter {
    opacity: 0;
    transform: scale(0.9);
}
.msgBox-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.msgBox-exit {
    opacity: 1;
}
.msgBox-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

/* End Home User-Player Options */

/* Video JS CSS */

.video-js .vjs-tech{
    outline: none;
}

.vjs-poster{
    background-size: cover !important;
    transition: background-size .5s;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
}

.video-js .vjs-big-play-button{
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.vjs-control-bar{
    background-color: rgba(43, 51, 63, 0.4) !important;
    backdrop-filter: blur(5px);
}

.mk_project{
    width: 90%;
    margin: 0 auto;
    padding: 2rem 1rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    color: var(--text_light);
    background-color: var(--bg_dark_opacity_1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
}

.mk_video{
    text-align: center;
    margin: 2rem auto 0 auto;
    overflow: hidden !important;
    border-radius: 0.5rem !important;
    width: 280px !important;
}

.mk_video video{
    object-fit: fill;
    border-radius: 0.5rem;
}

/* End Video JS CSS */

.noScroll{
    overflow: hidden !important;
}

/* Series / Movies*/

.coming_Soon{
    display: grid;
    place-items: center;
    margin: auto;
    height: 100%;
    color: var(--text_light);
}

/*****************************************/
/* Animations */
/*****************************************/

/*****************************************/
/* Animations Keyframes */
/*****************************************/

@keyframes mobileFadeOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to{
        opacity: 0;
        transform: translateX(100%);
    }
}

@-webkit-keyframes mobileFadeOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to{
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes magicEffect {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@-webkit-keyframes magicEffect {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*****************************************/
/* Media Queries */
/*****************************************/

/* Mobile Short - iPhone 4 3.5' */
@media (min-width: 320px) {}

/* Mobile Medium - iPhone 6 4' */
@media (min-width: 375px) {
    .mk_video{
        width: 350px !important;
    }
}

/* Mobile Long - iPhone X 5.8' */
@media (min-width: 425px) {

}

/* Tablet 7' or Higher */
@media (min-width: 768px) {

    .mk_video{
        width: 720px !important;
    }

    .iptvMsg{
        width: 700px;
        padding: 1rem 2rem 2rem;
    }

    .streamControls{
        flex-direction: row;
        padding: 0;
    }

    .streamControls div{
        flex-direction: row;
        width: fit-content;
        margin-bottom: 0;
    }

    .problemsBtn{
        margin: 1rem 0;
    }

    .msgBox{
        padding: 1.5rem;
        width: 70%;
    }

}

/* Notebook/Desktop */
@media (min-width: 1024px) {
    .msgBox{
        max-width: 900px;
    }
}

/* Notebook/Desktop Long */
@media (min-width: 1440px) {
    .mk_video{
        width: 768px !important;
    }
}

/* 4K Display */
@media (min-width: 2560px) {
    .mk_video{
        width: 1440px !important;
    }
}

/*****************************************/