@import url(https://css.gg/css);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

@font-face {
    font-family: "gabatto";
    src: url("/fonts/Gabato.ttf");
}

:root{
    --white: #fff;
    --dark: #000000;
    --bg_schedule_light: #fff;
    --bg_schedule_dark: #000000;
    --text_light: #fff;
    --text_dark: #000000;
    --bg_violet_mk: #3A1DB3;
    --font-custom: 'Kanit', sans-serif;
    --font-default: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-custom);
}

html{
    height: 100vh;
    scroll-behavior: smooth;
    background-color: var(--bg_violet_mk);
    transition: background-color .5s;
    overflow-x: hidden;
}

main{
    flex: 1;
    margin-top: 70px;
    background: transparent url("/img/starsbg.png");
    background-position: center center;
    background-size: 25rem;
}


a{
    text-decoration: none;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--white) var(--bg_violet_mk);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    position: absolute;
    right: -3rem;
    backdrop-filter: blur(5px);
}

*::-webkit-scrollbar-thumb {
    background-color: #ffffffb3;
    border-radius: 10px;
    border: 4px solid var(--bg_violet_mk);
}

*::-webkit-scrollbar-thumb:hover{
    background-color: var(--white);
}

.liveNow{
    background-color: #623bff !important;
    color: var(--text_light);
}

.noBtn{
    cursor: pointer;
    border-style: none;
    outline: none;
    background-color: transparent;
}

.noBd{
    border: none !important;
}

.button1{
    background-color: #623bff;
    padding: 0.8rem;
    color: var(--text_light);
    border-radius: 0.5rem;
    width: fit-content;
}

.problemsBtn{
    display: flex;
    grid-gap: 0.5rem;
    font-size: 0.9rem;
    margin: 1rem auto 0;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
}

.streamControls{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    grid-gap: 1rem;
}

.streamControls div{
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 1rem;
    width: 90%;
}

.streamControls div p{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5rem;
}

.streamControls div p:nth-of-type(1){
    background-color: #623bff;
}

.streamControls div p:nth-of-type(2){
    background-color: #4e20ff;
}

.whitebtn{
    color: var(--text_light);
    font-size: 2rem;
    cursor: pointer;
}

#__next{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.singleCol{
    display: grid;
    align-content: center;
    width: fit-content;
    margin: auto;
    color: var(--text_light);
}

.h100{
    height: 100%;
}

.iptvMsg{
    display: grid;
    place-content: center;
    margin: 2rem auto;
    background-color: #ffffffed;
    width: 90%;
    color: rgb(26, 26, 26);
    border-radius: 1rem;
    grid-gap: 1rem;
    padding: 1rem;
}

.iptvMsg h1 span{
    color: var(--text_dark);
}

.iptvMsg img{
    margin: 2rem auto;
    border-radius: 1rem;
    width: 100%;
}

.iptvMsg a{
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: rgb(26, 26, 26);
    border-radius: 0.5rem;
    padding: 0 0.5rem;
}

.iptvMsg section{
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    line-height: 1.9rem;
    border-radius: 1rem;
}

.iptvMsg section h1{
    margin-bottom: 0.5rem;
}

.closebtn{
    animation: mobileFadeOut .5s !important;
}

.msgBox{
    background-color: #ffffffed;
    padding: 1rem;
    width: 90%;
    border-radius: 0.5rem;
    margin: 0 auto 1rem auto;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: rgb(26, 26, 26);
    transition: all .5s;
    list-style-type: none;
    font-weight: bold;
    animation: magicEffect .5s;
}

.msgBox h1{
    padding-left: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.msgBox li{
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.msgBox li h2:nth-child(1){
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
}

.mk_video{
    text-align: center;
    margin: 2rem auto 0 auto;
    border-radius: 0.5rem;
    overflow: hidden !important;
}

.mk_video{
    width: 300px !important;
    height: 200px !important;
}

.vjs-poster{
    background-size: cover !important;
    transition: background-size .5s;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
}

.vjs-tech{
    object-fit: fill;
}

.video-js .vjs-big-play-button{
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.mk_project{
    width: 90%;
    margin: 0 auto;
    padding: 2rem 1rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    color: var(--text_light);
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
}

.coming_Soon{
    display: grid;
    place-items: center;
    margin: auto;
    height: 100%;
    color: var(--text_light);
}

.noScroll{
    overflow: hidden !important;
}

.headerOpen{
    background-color: var(--bg_violet_mk) !important;
}

.headerOpen a:nth-of-type(4){
    margin-bottom: 6rem;
}

/*****************************************/
/* Animations */
/*****************************************/

/*****************************************/
/* Animations Keyframes */
/*****************************************/

@keyframes mobileFadeOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to{
        opacity: 0;
        transform: translateX(100%);
    }
}

@-webkit-keyframes mobileFadeOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to{
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes magicEffect {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@-webkit-keyframes magicEffect {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*****************************************/
/* Media Queries */
/*****************************************/

/* Mobile Short - iPhone 4 3.5' */
@media (min-width: 320px) {}

/* Mobile Medium - iPhone 6 4' */
@media (min-width: 375px) {
    .mk_video{
        width: 350px !important;
        height: 250px !important;
    }
}

/* Mobile Long - iPhone X 5.8' */
@media (min-width: 425px) {
    .mk_video{
        width: 400px !important;
        height: 300px !important;
    }
}

/* Tablet 7' or Higher */
@media (min-width: 768px) {

    .iptvMsg{
        width: 700px;
        padding: 1rem 2rem 2rem;
    }

    .streamControls{
        flex-direction: row;
    }

    .streamControls div{
        flex-direction: row;
        width: fit-content;
        margin-bottom: 0;
        width: fit-content;
    }

    .problemsBtn{
        margin: 1rem 0;
    }

    .mk_video{
        width: 600px !important;
        height: 400px !important;
    }
}

/* Notebook/Desktop */
@media (min-width: 1024px) {
    .mk_video{
        width: 800px !important;
        height: 450px !important;
    }
}

/* Notebook/Desktop Long */
@media (min-width: 1440px) {
}

/* 4K Display */
@media (min-width: 2560px) {
    .mk_video{
        width: 1100px !important;
        height: 800px !important;
    }
}

/*****************************************/