header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0 2rem;
  top: 0;
  z-index: 10;
  height: 70px;
  width: 100%;
  max-width: inherit;
  background: linear-gradient(0deg, #3b1db300 0%, #3b1db3ad 50%, #3b1db3ad 100%);
}

.logo_mk{
  padding: 0;
}

.logo_mk img{
  cursor: pointer;
  width: 4.5rem;
  object-fit: contain;
}

.logo_mk:hover{
  background-color: transparent;
}

header a{
  display: flex;
  align-items: center;
  color: var(--text_light);
  font-size: 1rem;
  padding: 0.5rem 0.7rem;
  border-radius: 0.8rem;
  transition: background-color .3s;
}

header a:hover{
  background-color: var(--bg_dark_opacity_1);
}

header a img{
  margin-right: 0.5rem;
  width: 40px;
  min-width: 40px
}

.burger_button{
  cursor: pointer;
}

.burger_button div{
  width: 35px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  border-radius: 1rem;
}

.navOpen{
  display: flex !important;
  animation: mobileFade .5s;
}

.header_bg{
  background-color: var(--bg_violet_mk);
}

.navClose{
  animation: mobileFadeOut .5s !important;
}

@keyframes mobileFade {
  from {
      left: 100%;
  }
  to{
      left: 0%;
  }
}

@-webkit-keyframes mobileFade {
  from {
      left: 100%;
  }
  to{
      left: 0%;
  }
}

@keyframes mobileFadeOut {
  from {
      left: 0%;
  }
  to{
      left: 100%;
  }
}

@-webkit-keyframes mobileFadeOut {
  from {
      left: 0%;
  }
  to{
      left: 100%;
  }
}

/*****************************************/
/* Media Queries */
/*****************************************/

/* Mobile Short - iPhone 4 3.5' */
@media (min-width: 300px) {
  .logo_mk img{
    width: 7.5rem;
  }

  header a{
    font-size: 2rem;
  }
}

/* Mobile Medium - iPhone 6 4' */
@media (min-width: 375px) {}

/* Mobile Long - iPhone X 5.8' */
@media (min-width: 425px) {}

@media (max-width: 767px) {
  .nav{
    display: none;
    flex-direction: column;
    gap: 1rem;
    animation: mobileFade 0.5s;
    background-color: var(--bg_violet_mk);
    position: absolute;
    box-sizing: border-box;
    overscroll-behavior: contain;
    overflow-y: scroll;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 70px;
    z-index: 5;
    right: 0;
    bottom: 0;
    padding: 1rem 1rem 8rem;
  }

  .nav span{
    font-size: 2.4rem;
  }
}

/* Tablet 7' or Higher */

@media (min-width: 768px) {

  header{
    padding: 0 4rem;
  }

  header a img{
    margin-right: 0.3rem;
    width: 25px;
    min-width: 25px
  }

  .nav{
    display: flex;
    gap: 0.2rem;
    align-items: center;
  }

  header a{
    font-size: 1.2rem;
  }
}

/* Notebook/Desktop */
@media (min-width: 1024px) {
}

/* Notebook/Desktop Long */
@media (min-width: 1440px) {}

/* 4K Display */
@media (min-width: 2560px) {}

/*****************************************/