.tableBox{
    padding: 1rem 0;
    display: grid;
    place-items: center;
    width: fit-content;
    margin: 1rem auto;
    background-color: white;
    border-radius: 0.5rem;
}

.tableData{
    margin: 0 auto;
}

.tableData tr:nth-of-type(1){
    padding-bottom: 1rem;
}

.tableData td{
    text-align: center;
    padding: 0.3rem 0.3rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.3rem;
}

.tableRow td:nth-child(2),
.tableRow td:nth-child(4),
.titlesRow td:nth-child(2),
.titlesRow td:nth-child(3),
.titlesRow td:nth-child(4){
    border: none !important;
    padding: 0.1rem !important;
}

.titlesRow td:nth-child(1),
.titlesRow td:nth-child(5){
    border: none !important;
}

.schedule_Buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0 0;
    width: 100%;
}

.schedule_Buttons button{
    border-style: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #7b5df4;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid transparent;
}

.selectedButton{
    background-color: #6043d6 !important;
    border: 2px solid rgba(0, 0, 0, 0.3) !important;
}

.schedule_Buttons button:hover{
    background-color: #6043d6;
}

/* Mobile Medium - iPhone 6 4' */
@media (min-width: 375px) {
    .tableBox{
        width: 90%;
    }
}

/* Mobile Long - iPhone X 5.8' */
@media (min-width: 425px) {

}

/* Tablet 7' or Higher */
@media (min-width: 768px) {
    .tableBox{
        width: fit-content;
    }
}