.tableBox{
    padding: 0 0 1rem 0;
    display: grid;
    place-items: center;
    width: 95%;
    margin: 1rem auto;
    background-color: var(--bg_schedule_light);
    border-radius: 0.5rem;
}

.tableData{
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0.3rem 0.5rem;
    width: 100%;
}

.tableData td{
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.3rem;
    height: 5rem;
    width: 40%;
}

.tableData td:nth-child(2){
    width: 20%!important;
}

.titlesRow td:nth-child(1),
.titlesRow td:nth-child(2),
.titlesRow td:nth-child(3){
    border: none !important;
    padding: 0.1rem !important;
    font-weight: bold;
    font-size: large;
}

.titlesRow td:nth-child(2) img{
    display: flex;
    margin: auto;
    width: 2.5rem;
}

.titlesRow td:nth-child(1),
.titlesRow td:nth-child(5){
    border: none !important;
}

.schedule_Buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem 0 0;
    width: 100%;
}

.schedule_Buttons button{
    border-style: none;
    padding: 0.8rem 0.5rem;
    border-radius: 0.5rem;
    background-color: #7b5df4;
    color: var(--text_light);
    font-size: 1rem;
    cursor: pointer;
    border: 4px solid transparent;
}

.selectedButton{
    background-color: #4e29e4 !important;
    border: 4px solid rgba(0, 0, 0, 0.08) !important;
}

.schedule_Buttons button:hover{
    background-color: #6043d6;
}

.notToday{
    background-color: var(--bg_schedule_light) !important;
    color: var(--text_dark) !important;
}

/* Mobile Medium - iPhone 6 4' */
@media (min-width: 375px) {
    .tableBox{
        width: 90%;
    }
}

/* Mobile Long - iPhone X 5.8' */
@media (min-width: 425px) {

}

/* Tablet 7' or Higher */
@media (min-width: 768px) {
    .tableData{
        padding: 0 0.8rem;
    }

    .tableBox{
        width: fit-content;
    }

    .tableData td{
        height: 3rem;
    }
}